
body { 
    background: #222; 
    color: #eee; 
    font-family: sans-serif; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
}

.controls { 
    background: #333; 
    padding: 20px; 
    border-radius: 8px; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 15px; 
}

canvas { 
    border: 2px solid #555; 
    background-image: 
        linear-gradient(45deg, #2b2b2b 25%, transparent 25%), linear-gradient(-45deg, #2b2b2b 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #2b2b2b 75%), linear-gradient(-45deg, transparent 75%, #2b2b2b 75%);
    background-size: 20px 20px; background-position: 0 0, 0 10px, 10px -10px, -10px 0px; 
}

input { width: 60px; }

.canvas-container {
    display: flex; 
    flex-direction: row; 
    gap: 20px; 
    align-items: flex-start;
    margin: 20px;
}

label { 
    font-size: 0.9em; 
    font-weight: bold; 
}

.scroll-box {
    width: 200px;      /* Slightly wider than the tile to account for scrollbar */
    height: 384px;    /* Matches your main canvas height */
    overflow-y: scroll;
    border: 2px solid #555;
    background: #111;
}

#tiles_display { 
    border: none; 
    cursor: pointer; 
}

button {
    color: #222;
    background-color: #eee;

    font-size: 0.9em; 
    font-weight: bold; 

    width: 100px;
    height: 30px;
    border-radius: 8px;
}

button:hover {
    background-color: white;
    color: gray;
    font-family: sans-serif; 
    border-radius: 8px;
}

button:active {
    background-color: white;
    color: white;
}

#upload {
    width: 200px;
}